.logo {
    height: 78px;
}

nav {
    height: 80px;
    line-height: 80px;
    background-color: #333;
}

.carousel{
    width: 800px;
    height: 650px;
    margin: auto;
}

.carousel-image{
    height: 100%;
}

/* .fas { 
    transform: scale(2,2);
    color:white;
}

.fa-arrow-left {
    position: relative;
    bottom: 120px;
    color: black;
} */

/* .arrow {
    position: absolute;
    bottom: 200px;
} */
